Cliente/cmake-build-debug
Cliente/cmake-build-debug/**
Cliente/.idea
Cliente/.idea/**
Cliente/CMakeLists.txt
Cliente/cliente.o

Arbitro/cmake-build-debug
Arbitro/.idea
Arbitro/.idea/**
Arbitro/CMakeLists.txt
Arbitro/cmake-build-debug/**
Arbitro/arbitro.o
Arbitro/initConfig.o
Arbitro/comunicacao.o
Arbitro/jogadores.o

Games/Perguntas/cmake-build-debug
Games/Perguntas/.idea
Games/Perguntas/.idea/**
Games/Perguntas/CMakeLists.txt
Games/Perguntas/cmake-build-debug/**
Games/Perguntas/perguntas.o

Games/Adivinha/cmake-build-debug
Games/Adivinha/.idea
Games/Adivinha/.idea/**
Games/Adivinha/CMakeLists.txt
Games/Adivinha/cmake-build-debug/**
Games/Adivinha/adivinha.o

Games/sinais.o

Games/g_perguntas
Games/g_adivinha
arbitro
cliente
