Cliente/cmake-build-debug
Cliente/cmake-build-debug/**
Cliente/.idea
Cliente/.idea/**
Cliente/CMakeLists.txt
Cliente/cliente.o

Arbitro/cmake-build-debug
Arbitro/.idea
Arbitro/.idea/**
Arbitro/CMakeLists.txt
Arbitro/cmake-build-debug/**
Arbitro/arbitro.o

Games/Perguntas/cmake-build-debug
Games/Perguntas/.idea
Games/Perguntas/.idea/**
Games/Perguntas/CMakeLists.txt
Games/Perguntas/cmake-build-debug/**
Games/perguntas.o
Games/sinais.o

Games/g_perguntas
arbitro
cliente
